// Place all the styles related to the gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

small {
    font-size: 17px;
}

.ecart {
    margin-top: 10px;
}



.btn {
  justify-content: center;
  margin-left: 20px;
}