// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
    margin: 0, auto;
    text-align: center;
}

h5 {
    font-weight: normal;
}

.card {
    max-width: 300px;
    max-height: 200px;
    margin-top: 20px;
    padding-top: 20px;
    
}

.row {

display: inline-flex;

}

.button-des {
    margin-top: 30px;
}

